#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider {
  /* height: 105vh; */
  background: rgb(2, 69, 131) !important;
  position: sticky;
  overflow: auto;
  height: 100%;
  top: 0;
}
.ant-layout-sider .logo {
  padding: 12px 2px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.ant-layout-header .anticon > svg {
  font-size: 22px;
  color: rgb(2, 69, 131) !important;
}
.ant-layout-content {
  margin: 0 !important;
  padding: 12px !important;
}
/* Loader */
.loader {
  position: fixed;
  left: 55%;
  top: 40%;
  z-index: 9999;
}
/* Custom */
.jobs {
  padding: 12px;
  border-radius: 12px;
}
.flex-layout {
  display: flex;
  align-items: center;
}
p {
  margin: 2px;
  padding: 2px;
  font-size: 14px;
}
.job-details p {
  font-size: 16px;
}
.box-shadow-css {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
