#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.site-layout .anticon {
  vertical-align: 0.2rem;
}
.ant-layout-sider {
  background: rgb(3, 87, 165) !important;
  position: sticky;
  overflow: auto;
  height: 100vh;
  top: 0;
}
.ant-menu-dark {
  background: rgb(2, 56, 107) !important;
  color: #b8dafa;
}
.ant-layout-sider .logo {
  margin-top: 8px;
  margin-bottom: 6px;
  padding: 12px 2px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.site-layout .user-info {
  background-color: rgb(203, 224, 243);
  border: 1px solid rgb(172, 203, 231);
  border-radius: 1.5rem;
}
.site-layout .ant-layout-header .anticon > svg {
  color: rgb(2, 56, 107);
  font-size: 22px;
}
.site-layout .user-info span,
.site-layout .user-info .anticon > svg {
  color: rgb(2, 56, 107);
}
.ant-layout-content {
  margin: 0 !important;
  padding: 12px !important;
}
.ant-message {
  z-index: 9999;
}
/* Loader */
.loader {
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 9999;
}
/* Custom */
.jobs,
.tab-2-col {
  padding: 12px;
  border-radius: 12px;
}
.flex-layout {
  display: flex;
  align-items: center;
}
p {
  margin: 2px;
  padding: 2px;
  font-size: 14px;
}
.job-details p {
  font-size: 16px;
}
.box-shadow-css {
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.box-shadow-css-profile {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.login {
  padding-top: 125px;
}
.register {
  padding-top: 25px;
}
.login .ant-col,
.register .ant-col,
.ant-col .jobs {
  background-color: rgb(2, 56, 107);
}
.login h3,
.login label,
.login span,
.register h3,
.register label,
.register span,
.ant-col .jobs p,
.ant-col .jobs h5 {
  color: #d4eafd;
}
.login input,
.register input,
.profile input,
.profile textarea,
.postnewjob input,
.postnewjob textarea,
.ant-input-number,
.ant-input-number-group-addon {
  border-color: #9eccf8;
}
.ant-layout-header .anticon.anticon-search > svg {
  font-size: 14px !important;
}
.tab-2 .ant-form-item,
.postnewjob .ant-input-number-group-wrapper {
  width: 100%;
}
